<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <!-- <p><a href="/">Check Data</a></p> -->
    {% include 'index.html' %}
    <div>
        <table border="5px solid #000;">
            <tbody>
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Employee Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td style="padding: 10px;">{{i.employee_id}}</td>
                        <td style="padding: 10px;">{{i.employee_name}}</td>
                        <td style="padding: 10px">{{i.employee_phone}}</td>
                        <td style="padding: 10px;"><a href="{% url 'edit' i.pk %}">Edit</a></td>
                        <td style="padding: 10px"><a href="{% url 'delete' i.pk %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</body>
</html>